body
{
	font-family: 'Open Sans', sans-serif;
}

.gifhover{
	position: absolute;
}

.gifhide{
	position: absolute;
	transition: opacity 2s ease-out 100ms;
	opacity:1;
}

.gifhide:hover{
	transition: opacity .12s ease-out 100ms;
	opacity:0;
}



h1
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #777;
}

h2
{
	margin: 0;
	padding-top: 0;
	padding-bottom: .25em;
	font-size: 18px;
	color: #333;
}

h3
{
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 16px;
	color: #3c78d8;
}

a{
	color: #1155cc;
}

p
{
	font-weight: thin;
	font-size: 14px;
	padding-top: 0;
	padding-bottom: 1em;
	margin: 0;
}

ul.access
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: .25em;
}

ul.access li a
{
	text-decoration: none;
}

.main
{
	margin: auto;
	padding-bottom: 40px;
	padding-left: 40px;
	max-width: 800px;
	display: block;
}

.main_2
{
	margin: auto;
	padding-bottom: 40px;
	padding-left: 40px;
	max-width: 100px;
	display: block;
	background-color: #000;
}

.wrapper
{
	margin: auto;
	padding-bottom: 40px;
	padding-left: 40px;
	width: 800px;
	display: block;
}


.navmenu
{
	padding: 0;
	margin:0;
	min-width: 190px;
}

.nav
{
	list-style-type: none;
	padding: 0;
}

.nav li
{
	padding:0;
	background-color: #ddd;
	transition: background-color .18s ease-out 100ms;
	transition: transform .18s ease 10ms;
}

.nav li:hover
{
	background-color: #3c78d8;
	transform: translate(20px, 0);
}

.nav li a
{
	padding: 12px;
	text-decoration: none;
	color: #333;
	display:block
}

.nav li.current
{
	background-color: #3c78d8;
}

.nav li.current a
{
	color: #FFF;
}

.nav li a:hover
{
	color: #FFF;
}

.nav li.ct
{
	background-color: #3c78d8;
	transform: translate(20px, 0);
}

.nav li.ct a
{
	color: #FFF;
	padding-top: 3px;
	padding-bottom: 3px;
}

.nav li.t
{
	transform: translate(20px, 0);
}

.nav li.t a
{
	padding-top: 3px;
	padding-bottom: 3px;
}

.nav li.ct:hover
{
	transform: translate(30px, 0);
}

.nav li.t:hover
{
	transform: translate(30px, 0);
}


.content
{
	display: flex;
	flex-direction: row;
	padding-top: 40px;
	justify-content: stretch;
}

.main_2
{
	max-width: 100%;
	display: flex;
	flex-direction: flex-row;
	flex-wrap: wrap;
	padding-top: 40px;
	justify-content: center;
	align-items: center;
}

.black
{
margin: auto;
	background-color: #000;
	align-items: center;
	justify-content: center;
	max-width: 1920px;

}